
body{
    background-image: linear-gradient(to top,
    rgba(250,250,250, 0.088),
    rgba(250,250,250, 0.588) 
     ),url('../img/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 110vh;
    
}
.navbar{
    background-color: #333;
    
}

.navbar-inverse .navbar-brand{
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: -10px;
    left: 50%;
}

.navbar-brand:hover{
    color: #ffffff !important;
}

.navbar-default .navbar-nav > li > a{
    color: #fff !important;
    background-color: #333 !important;
    font-size: 16px;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff !important;
    background-color: #333 !important;
}
.form-login{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    font: bold 14px sans-serif;
    text-align: center;
}

.form-log-in-with-email{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 130px;
    text-align: center;
}

.form-log-in-with-email .form-white-background{
    width: 570px;
    box-sizing: border-box;
    background-color: rgba(250, 250, 250, 0.58);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
    padding: 60px 80px;
    margin-bottom: 32px;
}

.form-log-in-with-email .form-row{
    text-align: left;
    margin-bottom: 23px;
}

.form-log-in-with-email .form-title-row{
    text-align: center;
    margin-bottom: 60px;
}

.form-log-in-with-email h1{
    display: inline-block;
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 0 30px 15px;
    border-bottom: 2px solid #6caee0;
    margin:0;
}

.form-log-in-with-email .form-row > label span{
    display: inline-block;
    box-sizing: border-box;
    color:  #5f5f5f;
    width: 125px;
    text-align: right;
    padding-right: 25px;
}

.form-log-in-with-email input{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 230px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.form-log-in-with-email button{
    display: block;
    border-radius: 2px;
    background-color:  #333;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 15px 35px;
    border: 0;
    margin: 55px auto 0;
    cursor: pointer;
}

.form-log-in-with-email .form-forgotten-password,
.form-log-in-with-email .form-create-an-account{
    text-decoration: none;
    padding: 4px 8px;
    font-weight: normal;
}

.form-log-in-with-email .form-forgotten-password{
    color:  #fff;
    padding-bottom: 34px;
}

.form-log-in-with-email .form-create-an-account{
    color:  #fff;
    background-color: #222;
}

.form-log-in-with-email:after{
    content: 'OR';
    position: absolute;
    bottom: 260px;
    right: -100px;

    border-radius: 50%;
    background-color: #fff;
    width: 50px;
    height: 50px;
    color: #444;
    font-size: 17px;
    line-height: 50px;
}

div#preloader {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    z-index:9999999 !important;
    width: 100% !important;
    height: 100% !important;
    overflow: visible !important;
    background: #fff url(../img/1.gif) no-repeat center center ; 

}

.form-sign-in-with-social{
    display: inline-block;
    max-width: 180px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    margin-top: 70px;
}

.form-sign-in-with-social .form-title-row{
    margin-bottom: 50px;
}

.form-sign-in-with-social .form-title{
    box-sizing: border-box;
    color:  #222;
    font-size: 20px;
    padding: 15px 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #6caee0;
}

.form-sign-in-with-social .form-google-button{
    color:  #ffffff;
    display: block;
    width: 145px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color:  rgba(222, 110, 60, 0.9);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin: 8px auto;
    text-decoration: none;
}

.form-sign-in-with-social .form-facebook-button{
    color:  #ffffff;
    display: block;
    width: 145px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color:  rgba(75, 136, 194, 0.9);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin: 8px auto;
    text-decoration: none;
}

.form-sign-in-with-social .form-twitter-button{
    color:  #ffffff;
    display: block;
    width: 145px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color:  rgba(123, 195, 226, 0.9);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin: 8px auto;
    text-decoration: none;
}

/*	Making the form responsive. Remove these media queries
    if you don't need the form to work on mobile devices. */

@media (max-width: 900px) {

    .form-login{
        margin: 20px auto;
    }

    .form-log-in-with-email{
        position: relative;
        display: block;
        margin: 0 0 50px;
    }

    .form-log-in-with-email .form-white-background{
        margin: 0 auto 32px;
    }

    .form-log-in-with-email:after{
        bottom: -80px;
        left: 50%;
        margin-left: -25px;
    }

    .form-sign-in-with-social{
        margin-top: 60px;
    }

}

@media (max-width: 600px) {

    .form-log-in-with-email .form-white-background{
        width: 300px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .form-log-in-with-email .form-row > label span{
        display: block;
        text-align: left;
        padding: 0 0 10px;
    }

    .form-log-in-with-email .form-email,
    .form-log-in-with-email .form-password{
        display: block;
        margin: 0 auto;
    }

    .form-log-in-with-email:after{
        bottom: -80px;
        left: 50%;
        margin-left: -25px;
    }

    .form-log-in-with-email .form-forgotten-password,
    .form-log-in-with-email .form-create-an-account{
        display: block;
        margin: 5px auto;
        max-width: 180px;
    }

}
